@use "../presets" as *;
@use "../mixins" as *;

.page-header {
  position: relative;


  &__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $gap;
    grid-template-areas: "menu logo btn";
    align-items: center;
    border-bottom: 1px solid $color-gray;

    @include sm-min {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    @include sm {
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }

  &__menu {
    grid-area: menu;
  }

  &__logo {
    grid-area: logo;

    @include lg-min {
      margin: auto;
    }

    @include lg {
      margin: auto;
    }


    &-image {}
  }

  &__button {
    grid-area: btn;
  }


  &__title {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.07em;
    margin: 0;


    @include xl-min {
      font-size: 100px;
      padding-top: 60px;
      padding-bottom: 40px;
    }

    @include xl-md {
      font-size: 80px;
      padding-top: 60px;
      padding-bottom: 40px;
    }

    @include md-sm {
      font-size: 60px;
      padding-top: 45px;
      padding-bottom: 40px;
    }

    @include sm {
      font-size: 40px;
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }
}

.background {
  width: 100%;
  min-height: 570px;
  background-color: #949ea4;
  background-image: url(../img/field.jpg);
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
}

.background__content {}